.navbar-nav{
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.navbar{
    background-color: rgb(234, 241, 243);
}
#sec-first{
   background-image: url("images/bck_img.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    z-index: 1;
}


#intro{
    margin-top: 100px;
    margin-bottom: 30px;
}

.button {
  color: black;
  padding: 10px 30px;
  border: 2px solid black;
  text-decoration: none;
}



#sec-two{
    padding: 20px;
      background-color:#f9f9f9;
}
.about-info {
  display: flex;
  justify-content: space-evenly;
}

.about-info-title {
  color: #713abe;
  font-size: 40px;
  font-weight: 500;
}


.about-info-title,
.about-info-name {
  display: block;
  padding-right: 190px;

}

.sec-third {
  padding: 60px 60px;
  margin-bottom: 40px;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
}

.skills-name {
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  color:white;
  background-color:  rgb(108, 108, 108);

}

.skills-name:hover {
  background-color: rgb(178, 178, 178);
  color:black;
}
.sec-fourth {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
}

.sec-fourth h2 {
  font-size: 40px;
  margin-bottom: 80px;
}

.education-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.education-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 350px;
  text-align: center;
}


.edu-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.sec-fifth {
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

.sec-fifth h2 {
  font-size: 40px;
  margin-bottom: 80px;
}

.work-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.work-card {
  background-color: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 25px;
  width: 350px;
  text-align: center;
}
.sec-sixth{
  padding: 30px;
  background-color: #f9f9f9;
  text-align: center;
}

.carousel-caption h5, p{
  color: black;
}
.carousel-item{
  padding: 50px 20px 100px 20px;
}

.sec-seventh  {
  padding: 40px;
  text-align: center;
}

.sec-seventh h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.carousel-item img{
  padding:50px 150px;
}
.sec-eight{
  padding: 40px 210px;
  background-color: #f9f9f9;
  text-align: center;
}
.sec-eight h2{
  
 font-size: 40px;
  margin-bottom: 30px;
}

.contact-title p {
  font-size: 16px;
  color: gray;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  border-radius: 25px;
  padding: 40px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  flex: 1;
  min-width: 280px;
  padding: 20px;
}

.contact-info h2 {
  color: black;
  margin-bottom: 20px;
  margin-right: 100px;
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  font-size: 16px;
}

.info-item .icon {
  margin-right: 10px;
  font-size: 18px;
  color: rgb(110,87,224);
}
.info-item a{
  list-style: none;
  text-decoration: none;
  color:black;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  font-size: 16px;
}
.contact-image img {
  margin-top: 30px;
  margin-right: 1000px;
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  
}

.contact-form {
  flex: 1;
  min-width: 280px;
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

form input,
form textarea {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 30px;
  font-size: 14px;
  width: 100%;
  outline: none;
}

form button {
  padding: 10px;
  background-color: rgb(110,87,224);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background-color: rgb(143, 122, 247);
  color: black;
}


footer{
   background-color: rgb(52, 52, 52);
   padding: 50px 200px;
}
footer h2{
  color: white;
  padding-top: 5px;
}

 .footer-links {
    list-style: none;
    display: flex;
  justify-content: center; 
  gap: 100px; 
  padding-top: 10px;
  }
  .footer-links a{
    text-decoration: none;
    color:white;
    
  }
  .social-icons {
    justify-self: flex-end;
    
  }
   .social-icons a img{
   padding-top: 10px;
   }
   
   .footer-copy{
    justify-self: center;
    color: rgb(171, 167, 167);
    padding-top: 20px;

   }