.navbar-nav{
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.navbar{
    background-color: rgb(234, 241, 243);
}
#sec-first{
   background-image: url("images/bck_img.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    z-index: 1;
}


#intro{
    margin-top: 100px;
    margin-bottom: 30px;
}

.button {
  color: black;
  padding: 10px 30px;
  border: 2px solid black;
  text-decoration: none;
}



#sec-two{
    padding: 20px;
      background-color:#f9f9f9;
}
.about-info {
  display: flex;
  justify-content: space-evenly;
}

.about-info-title {
  color: #713abe;
  font-size: 40px;
  font-weight: 500;
}


.about-info-title,
.about-info-name {
  display: block;
  padding-right: 190px;

}

.sec-third {
  padding: 60px 60px;

}

.skills-content {
  display: flex;
  flex-wrap: wrap;
}

.skills-name {
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  color:white;
  background-color:  rgb(108, 108, 108);

}

.skills-name:hover {
  background-color: rgb(178, 178, 178);
  color:black;
}
.sec-fourth {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
}

.sec-fourth h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.education-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.education-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 350px;
  text-align: center;
}


.edu-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.sec-fifth {
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

.sec-fifth h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.work-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.work-card {
  background-color: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 25px;
  width: 350px;
  text-align: center;
}

.sec-seventh  {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
}

.sec-seventh h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.carousel-item{
  padding: 50px;
}
.sec-eight{
  padding: 40px;
  background-color: white;
  text-align: center;
}
.sec-eight h2{
 font-size: 40px;
  margin-bottom: 30px;
}
.contact a{
  padding-right: 10px;
  list-style: none;
  text-decoration: none;
  color: black;
  
}
footer{
   background-color: rgb(52, 52, 52);
   padding: 50px 200px;
}
footer h2{
  color: white;
  padding-top: 5px;
}

 .footer-links {
    list-style: none;
    display: flex;
  justify-content: center; 
  gap: 100px; 
  padding-top: 10px;
  }
  .footer-links a{
    text-decoration: none;
    color:white;
    
  }
  .social-icons {
    justify-self: flex-end;
    
  }
   .social-icons a img{
   padding-top: 10px;
   }
  