.navbar-nav{
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.navbar{
    background-color: rgb(234, 241, 243);
}
#sec-first{
   background-image: url("images/bck_img.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    z-index: 1;
}


#intro{
    margin-top: 100px;
    margin-bottom: 20px;
}

.hire-btn{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    margin-top: 50px;
}
#sec-two{
    padding: 50px;
      background-color:#f9f9f9;
}
.sec-third {
  padding: 60px 60px;

}

.skills-content {
  display: flex;
  flex-wrap: wrap;
}

.skills-name {
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  background-color:  rgb(229, 142, 242);

}

.skills-name:hover {
  background-color: rgb(196, 144, 224);
}
.sec-fourth {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
}

.sec-fourth h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.education-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.education-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.education-card:hover {
  transform: translateY(-5px);
}

.edu-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.sec-fifth {
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

.sec-fifth h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.work-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.work-card {
  background-color: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 25px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.work-card:hover {
  transform: translateY(-5px);
}

.sec-seventh  {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
}

.sec-seventh h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.carousel-item{
  padding: 50px;
}
.sec-eight{
  padding: 40px;
  background-color: rgb(152, 129, 152);
  text-align: center;
}
.sec-eight h2{
 font-size: 40px;
  margin-bottom: 30px;
}
.row a{
  padding-bottom: 2px;
  list-style: none;
  
}